.upcoming {
  background-color: #e4e4e4;
}

.upcomingText {
  width: 500px;
  margin: 0 auto;
  letter-spacing: normal;
  a {
    display: inline-block;
    margin: 15px 0;
    &:hover {
      text-decoration: underline;
    }
    :global(.highlighted) {
      background-color: aquamarine;
    }
  }
}
