@font-face {
  font-family: "stalker1regular";
  src: url("./assets/stalker1-webfont.woff2") format("woff2"),
    url("./assets/stalker1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Microscan-A";
  src: url("./assets/Microscan-A.ttf.woff") format("woff"),
    url("./assets/Microscan-A.ttf.svg#Microscan-A") format("svg"),
    url("./assets/Microscan-A.ttf.eot"),
    url("./assets/Microscan-A.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Microscan-A", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

:root,
body {
  height: 100%;
}

h1,
h2 {
  font-family: "stalker1regular";
}

h2 {
  letter-spacing: 5px;
}

h1 {
  font-size: 120px;
  line-height: 1.1;
  letter-spacing: 30px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e8566b;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:focus,
button:focus-visible {
  outline: none;
}

.highlighted {
  background-color: #fcf256;
  padding-left: 10px;
}

.section {
  margin: 70px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
